.App {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.playerStatus {
  border: solid 1px black;
  border-radius: 5px;
  padding: 5px;
  width: 600px;
  height: 150px;
  margin: auto;
  margin-top: 35px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-items: center
}

.controls {
  margin-top: 150px;
  display: flex;
  flex:1;
  align-content: center;
  justify-content: center;
}

