.App {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: #FBFBFB;
}

.playerStatus {
  border: solid 1px black;
  border-radius: 5px;
  padding: 5px;
  width: 400px;
  height: 100px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  background-color: #78B7BB;
}

.round-counter {
  margin-top: 5px;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.winner {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.winner h1 {
  margin: 0
}

.controls {
  margin-top: 50px;
  display: flex;
  flex:1;
  align-content: center;
  justify-content: center;
}

.action-button {
  height: 100px;
  width: 130px;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #FFF1C1;
}

.icon {
  width: 40px;
}

